<div id="home" class="parallax-container center-align">
    <div class="row">
        <h2 style="text-transform: uppercase; font-weight: 400; margin-bottom: 0; padding-bottom: 0; padding-top: 4rem; letter-spacing: 0.2rem;" class="section header grey-text text-darken-2 animated fadeIn">Developer & Designer</h2> 
            <p class="flow-text grey-text text-darken-2 animated slideInLeft" style="font-weight: 300;">Software, web apps, and multimedia.</p>
     </div>    
     <div class="parallax"><img src="/images/bg/mast.jpg" alt="Home Photo" style="top: -1200px;">
      </div>
</div>

<%= render 'pages/profile' %>

<%= render 'pages/experience' %>

<%= render 'pages/technology' %>

<%= render 'pages/projects' %>

<%= render 'pages/connect' %>

